<div class='container'>
  <div class='text-center logo'>
    <%= image_tag "logo.png", :width=>200%>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <h3>Remove duplicate emails</h3>

      <ul class="list-group">
        <li class="list-group-item"><a href="#/">worker.rb</a> </li>
        <li class="list-group-item"><a href="#/single_thread_solution">single_thread.rb</a></li>
        <li class="list-group-item active"><a href="#/multi_threaded_solution">multi_thread.rb</a></li>
        <li class="list-group-item"><a href="#/discussion">Discussion</a></li>
      </ul>
    </div>

    <div class='col-md-8'>
      <h4 class='code-header-first'>Multi-threads solution</h4>
      <snippet>
  require "benchmark"
  require "faker"
  require "./worker.rb"

  email_array = []
  output = []
  duplicate_email = Faker::Internet.email

  5000000.times do 
    random_email = Faker::Internet.email
    while random_email != duplicate_email
      email_array << random_email
      break    
    end
    email_array << duplicate_email
  end

  test_array = email_array.shuffle

  chunked_array = test_array.each_slice(50000).to_a
  worker_array = []

  Benchmark.bm do |bm| 
    bm.report do 
      threads = chunked_array.each do |sub_array|
        Thread.new do
          worker = Worker.new(sub_array)
          worker_array << worker
          worker.remove_duplicates
        end
      end

      threads.each {|thr| thr.join}
      worker_array.map {|worker| output << worker.array}
    end
  end
      </snippet>
    </div>
  </div>
</div>