<div class='container'>
  <div class='text-center logo'>
    <%= image_tag "logo.png", :width=>200%>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <h3>Question lists</h3>

      <ul class="list-group">
        <li class="list-group-item active"><a href="#/">Q1</a></li>
        <li class="list-group-item"><a href="#/q2">Q2</a></li>
        <li class="list-group-item"><a href="#/q3">Q3</a></li>
        <li class="list-group-item"><a href="#/q4">Q4</a></li>
        <li class="list-group-item"><a href="#/worker">Q5: worker.rb</a> </li>
        <li class="list-group-item"><a href="#/single_thread_solution">Q5: single_thread.rb</a></li>
        <li class="list-group-item"><a href="#/multi_threaded_solution">Q5: multi_thread.rb</a></li>
        <li class="list-group-item"><a href="#/discussion">Q5: Discussion</a></li>
      </ul>
    </div>

    <div class='col-md-8'>
      <h4 class='code-header-first'>Any interesting project has 10x more good ideas in the icebox than you’ll ever be able to implement. How do you decide which ones to build, and in what order?</h4>
      <section class='answer'>For this question, I think the answer depends on several things as following:
        <ul>
          <li>The stage of the project</li>
          <li>whether we have a effective way to collect user's feedback or user's activity data</li>
          <li>Budget and time</li>
        </ul>
        The imminent goals that we want to achieve
        In general, I want to finish up the core services and the features for the project first, and consolidate them. This is like a MVP product that have a minimum sets of key functionalities that you can show to your initial users and gain feedbacks. At the very beginning, I might not burning 3 months to build all cool features first and release to the users then realize that people just don't like 80% of them. I would like to follow the agile way, adjust and pivot along the way, and let the user's feedback and data drive the decision making process, although the user might not 100% sure what they need, but if they like some thing, this is definitely a good starting point to decide what else good ideas to build in the next steps. After that, we can combine the user's feedback and analytic data with team's quartely or monthly goals to help guide which idea to implement also taking into account the resources we have including budget, staff, and time.
      </section>
    </div>
  </div>
</div>