<div class='container'>
  <div class='text-center logo'>
    <%= image_tag "logo.png", :width=>200%>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <h3>Question lists</h3>

      <ul class="list-group">
        <li class="list-group-item"><a href="#/">Q1</a></li>
        <li class="list-group-item active"><a href="#/q2">Q2</a></li>
        <li class="list-group-item"><a href="#/q3">Q3</a></li>
        <li class="list-group-item"><a href="#/q4">Q4</a></li>
        <li class="list-group-item"><a href="#/worker">Q5: worker.rb</a> </li>
        <li class="list-group-item"><a href="#/single_thread_solution">Q5: single_thread.rb</a></li>
        <li class="list-group-item"><a href="#/multi_threaded_solution">Q5: multi_thread.rb</a></li>
        <li class="list-group-item"><a href="#/discussion">Q5: Discussion</a></li>
      </ul>
    </div>

    <div class='col-md-8'>
      <h4 class='code-header-first'>What is the best or most interesting meal ate recently, and what did you like or dislike about it?</h4>
      <section class='answer'>
        I traveled back to China and went to Guangzhou province last summer, that was the first time I tried authenticate Cantonese cuisine, and it was awesome. I lived in Beijing for over 15 year but never been to southern part of China before, the way they cooked the food is a lot different then in my hometown. They tried to preserve the authenticate flavor of the ingredients and they also try to balance the flavor instead of making it too greasy, spicy or salty. I enjoyed the Siu laap (Cantoness-style cooked meals) a lot plus the Yum cha (southern chinese style morning tea), the food was great and you can tried out all different delicate dishes in the same time. <br> <img style="margin-top: 20px" width="300"  src="http://images.mangocity.com/gonglue/zhixiashitequ/573249375311948.JPG">
      </section>
    </div>
  </div>
</div>